<a href="https://colab.research.google.com/github/vnicula/ai-research-code/blob/master/algorithms/multivariate_regression_sgd_hidden_layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/satishgunjal/datasets/master/multivariate_housing_prices_in_portlans_oregon.csv')
print(df.size)
df.head()

141

   size(in square feet)   number of bedrooms   price
0                  2104                    3  399900
1                  1600                    3  329900
2                  2400                    3  369000
3                  1416                    2  232000
4                  3000                    4  539900

In [17]:
X_train = df.iloc[:, 0:2].values
# print(np.std(X_train, axis=0, keepdims=True)[:3])
Y_train = np.expand_dims(df.iloc[:, 2].values, 1)
X_train = (X_train - X_train.mean(axis=0, keepdims=True)) / np.std(X_train, axis=0, keepdims=True)
print(X_train[:3], Y_train[:3])

[[ 0.13141542 -0.22609337]
 [-0.5096407  -0.22609337]
 [ 0.5079087  -0.22609337]] [[399900]
 [329900]
 [369000]]

In [39]:
def init_weights():
  W1 = np.random.normal(loc=0, scale=0.1, size=[3, 2])
  B1 = np.random.normal(loc=0, scale=0.1, size=[3, 1])
  W2 = np.random.normal(loc=0, scale=0.1, size=[1, 3])
  B2 = np.random.normal(loc=0, scale=0.1, size=[1, 1])
  return W1, B1, W2, B2

# print(init_weights())

In [19]:
def ReLU(z):
  return np.maximum(z, 0)

def loss(Y, Yh):
  return 0.5*(Y-Yh)**2

def forward_pass(X, W1, B1, W2, B2):
  Z1 = W1.dot(X) + B1 # (3, 1)
  A1 = ReLU(Z1)       # (3, 1)
  O = W2.dot(A1) + B2 # (1, 1)
  return Z1, A1, O

In [20]:
def backward_pass(X, Y, Z1, A1, O, W1, B1, W2, B2):
  # last layer
  dL_O = O - Y # (1, 1)
  dO_W2 = A1   # (3, 1)
  gW2 = dL_O.dot(A1.T)
  gB2 = dL_O

  # hidden layer
  # local gradient dO_Z1 = dO_A1 * dA1_Z1
  dO_A1 = W2   # (1, 3)
  dA1_Z1 = (Z1 > 0) * 1.0  # (3, 1)
  delta2 = dL_O.dot(W2 * dA1_Z1.T) # (1,3)
  gW1 = delta2.T.dot(X.T)
  gB1 = delta2.T

  return gW1, gB1, gW2, gB2

In [42]:
def train_step(X, Y, W1, B1, W2, B2, steps, lr):
  num_samples = X.T.shape[1]
  print(f"num_samples={num_samples}")

  for i in range(steps):
    losses = []
    for j in range(num_samples):
      sample = X[j].reshape([2,1])
      y = Y[j] / 10000.0
      Z1, A1, O = forward_pass(sample, W1, B1, W2, B2)
      # print(j, O)
      losses.append(loss(y, O))
      gW1, gB1, gW2, gB2 = backward_pass(sample, y, Z1, A1, O, W1, B1, W2, B2)
      # print(gW1)
      W1 -= lr*gW1
      B1 -= lr*gB1
      W2 -= lr*gW2
      B2 -= lr*gB2
    
    print("Avg loss: ", np.mean(losses))

In [48]:
W1, B1, W2, B2 = init_weights()
train_step(X_train, Y_train, W1, B1, W2, B2, 100, 0.0005)

num_samples=47
Avg loss:  647.1850909270091
Avg loss:  619.5771874749701
Avg loss:  589.1623800331807
Avg loss:  543.7328618005012
Avg loss:  442.13557753857526
Avg loss:  244.31388251262922
Avg loss:  77.42194022456665
Avg loss:  30.41262574278315
Avg loss:  23.791683535792764
Avg loss:  22.54558331961193
Avg loss:  22.101925696995444
Avg loss:  21.888253656436067
Avg loss:  21.777179570859563
Avg loss:  21.71754064438697
Avg loss:  21.68464327837018
Avg loss:  21.6659149103483
Avg loss:  21.655445315627713
Avg loss:  21.64923447523288
Avg loss:  21.645226725107133
Avg loss:  21.642500664664166
Avg loss:  21.64038240218936
Avg loss:  21.638877796549842
Avg loss:  21.637603621857735
Avg loss:  21.636493976462432
Avg loss:  21.636245025891334
Avg loss:  21.634539620767306
Avg loss:  21.634477257520967
Avg loss:  21.63292382225713
Avg loss:  21.632946940990703
Avg loss:  21.631409278450334
Avg loss:  21.631444877531134
Avg loss:  21.62990215379351
Avg loss:  21.629955579101605
Avg loss:  21.628408056515042
Avg loss:  21.62847767899951
Avg loss:  21.627690519050763
Avg loss:  21.626944809430753
Avg loss:  21.626211705708492
Avg loss:  21.624714857975636
Avg loss:  21.62479917678446
Avg loss:  21.6240505871489
Avg loss:  21.623302307458474
Avg loss:  21.62256272753818
Avg loss:  21.620989407060396
Avg loss:  21.621111978480293
Avg loss:  21.620376881425837
Avg loss:  21.619621039870424
Avg loss:  21.61887342573763
Avg loss:  21.61812714180751
Avg loss:  21.616518786757545
Avg loss:  21.61660941170955
Avg loss:  21.615911620292987
Avg loss:  21.61514763173071
Avg loss:  21.614390819923223
Avg loss:  21.61363521886118
Avg loss:  21.612879294723875
Avg loss:  21.611266108944164
Avg loss:  21.61135171657289
Avg loss:  21.610631290777988
Avg loss:  21.609870521658934
Avg loss:  21.60910379961764
Avg loss:  21.60833647395067
Avg loss:  21.607569003215286
Avg loss:  21.606801175214905
Avg loss:  21.606032773857926
Avg loss:  21.60526365096269
Avg loss:  21.60449371406419
Avg loss:  21.602785990548895
Avg loss:  21.602927925526636
Avg loss:  21.602196618764374
Avg loss:  21.601422207876706
Avg loss:  21.600641734110415
Avg loss:  21.59986101168158
Avg loss:  21.599080572748598
Avg loss:  21.598300216162574
Avg loss:  21.597519730725104
Avg loss:  21.596738975001504
Avg loss:  21.595957865394507
Avg loss:  21.595176359108493
Avg loss:  21.594394441865134
Avg loss:  21.59256929960536
Avg loss:  21.59279116537796
Avg loss:  21.592053194053808
Avg loss:  21.59126872173736
Avg loss:  21.59047825774126
Avg loss:  21.589688209395224
Avg loss:  21.588899190454374
Avg loss:  21.58811100203342
Avg loss:  21.58732342933229
Avg loss:  21.58653633134186
Avg loss:  21.585428228045853
Avg loss:  21.5846544169289
Avg loss:  21.58396160606686
Avg loss:  21.583291510039917
Avg loss:  21.583159662474483
Avg loss:  21.582267321561194
Avg loss:  21.581555351638222
Avg loss:  21.58088300597117
Avg loss:  21.58022078636302
Avg loss:  21.579561278205915